<h1>Check Reserve</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action = "/reserve/check">
  <div class="form-group">
    <input type="text" name="id" class="form-control" placeholder="Search Reserve By StaffId"
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
